dataSources:
  ds_0:
    dataSourceClassName: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/b2c_coupon_0?useUnicode=true&characterEncoding=UTF-8&rewriteBatchedStatements=true&allowMultiQueries=true&serverTimezone=Asia/Shanghai
    username: root
    password: zrq123

    initialSize: 5
    minIdle: 2
    maxActive: 5
    maxWait: 60000
    validationQuery: SELECT 1
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000

  ds_1:
    dataSourceClassName: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/b2c_coupon_1?useUnicode=true&characterEncoding=UTF-8&rewriteBatchedStatements=true&allowMultiQueries=true&serverTimezone=Asia/Shanghai
    username: root
    password: zrq123

    initialSize: 5
    minIdle: 2
    maxActive: 5
    maxWait: 60000
    validationQuery: SELECT 1
    testWhileIdle: true

rules:
  - !SHARDING
    tables:
      # ===== 优惠券模板表 =====
      # 2库 x 每库1张表 = 全局2个槽位
      # ds_0 -> t_coupon_template_0, ds_1 -> t_coupon_template_1
      t_user_admin:
        actualDataNodes: ds_0.t_user_admin_0,ds_1.t_user_admin_1
        databaseStrategy:
          standard:
            shardingColumn: shop_number
            shardingAlgorithmName: db_hash_mod_1t
        tableStrategy:
          standard:
            shardingColumn: shop_number
            shardingAlgorithmName: table_hash_mod_1t
    shardingAlgorithms:
      # ---------- 库路由算法（按每库表数量区分） ----------
      # 每库1张表的库路由
      db_hash_mod_1t:
        type: CLASS_BASED
        props:
          algorithmClassName: com.b2c.cn.user.admin.dao.sharding.DBHashModShardingAlgorithm
          strategy: standard
          tables-per-db: 1
      # ---------- 表路由算法（所有逻辑表共享 db-count=2）----------
      # 每库1张表的表路由
      table_hash_mod_1t:
        type: CLASS_BASED
        props:
          algorithmClassName: com.b2c.cn.user.admin.dao.sharding.TableHashModShardingAlgorithm
          strategy: standard
          db-count: 2
props:
  sql-show: true
